flows.json
[
    {
        "id": "e1ac027a1b892927",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13175ec910863fcd",
        "type": "arduino-board",
        "device": "/dev/ttyACM0"
    },
    {
        "id": "a8f7128c75a66f40",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b70eaa16df3e699d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e654c2be62fc9630",
        "type": "ui_group",
        "name": "PetFeeder",
        "tab": "a8f7128c75a66f40",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "844a0f3dcde1a982",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "61697722e053c22a",
        "type": "rpi-srf",
        "z": "e1ac027a1b892927",
        "name": "Sensor de Proximidade",
        "topic": "SRF",
        "pulse": "0.5",
        "pins": "7,11",
        "precision": "0",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "85a1638516fcc8d0",
                "e7b65f4514cda7d6",
                "3e4453275a7f2090"
            ]
        ]
    },
    {
        "id": "85a1638516fcc8d0",
        "type": "debug",
        "z": "e1ac027a1b892927",
        "name": "cm registrados",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "e7b65f4514cda7d6",
        "type": "ui_gauge",
        "z": "e1ac027a1b892927",
        "name": "",
        "group": "e654c2be62fc9630",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Dist창ncia",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 120,
        "y": 120,
        "wires": []
    },
    {
        "id": "650773ba2c8ddd7f",
        "type": "ui_switch",
        "z": "e1ac027a1b892927",
        "name": "",
        "label": "Servo",
        "tooltip": "",
        "group": "e654c2be62fc9630",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "180",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 300,
        "wires": [
            [
                "dc84aa9010c7b2a3"
            ]
        ]
    },
    {
        "id": "dc84aa9010c7b2a3",
        "type": "arduino out",
        "z": "e1ac027a1b892927",
        "name": "",
        "pin": "8",
        "state": "SERVO",
        "arduino": "13175ec910863fcd",
        "x": 1010,
        "y": 300,
        "wires": []
    },
    {
        "id": "d62fc4a57dc9e8ef",
        "type": "arduino in",
        "z": "e1ac027a1b892927",
        "name": "",
        "pin": "7",
        "state": "INPUT",
        "arduino": "13175ec910863fcd",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "85a1638516fcc8d0"
            ]
        ]
    },
    {
        "id": "37a980cfd533bfd5",
        "type": "mqtt in",
        "z": "e1ac027a1b892927",
        "name": "MQTT Servo",
        "topic": "/lfmpaes/petfeeder/servo",
        "qos": "2",
        "datatype": "utf8",
        "broker": "844a0f3dcde1a982",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 360,
        "wires": [
            [
                "dc84aa9010c7b2a3",
                "c7aaa6d544e8ffeb"
            ]
        ]
    },
    {
        "id": "c7aaa6d544e8ffeb",
        "type": "debug",
        "z": "e1ac027a1b892927",
        "name": "MQTT Servo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 400,
        "wires": []
    },
    {
        "id": "3e4453275a7f2090",
        "type": "while-loop",
        "z": "e1ac027a1b892927",
        "name": "Dist창ncia maior que 10cm?",
        "condi": "msg.payload > 10",
        "limit": false,
        "limitTime": 10000,
        "time": "wl3e4453275a7f2090",
        "timeType": "msg",
        "x": 660,
        "y": 120,
        "wires": [
            [
                "54dcb44a255dba0c"
            ],
            [
                "d93d1eaaf5051c57"
            ]
        ]
    },
    {
        "id": "5104dcb4d7810a76",
        "type": "while-loop",
        "z": "e1ac027a1b892927",
        "name": "",
        "condi": "msg.counter < 2",
        "limit": false,
        "limitTime": 10000,
        "time": "wl5104dcb4d7810a76",
        "timeType": "msg",
        "x": 660,
        "y": 540,
        "wires": [
            [
                "dc84aa9010c7b2a3"
            ],
            [
                "dc84aa9010c7b2a3",
                "6dc2347ca9c13119",
                "8b221915f6e30a83"
            ]
        ]
    },
    {
        "id": "775008996888eb8a",
        "type": "function",
        "z": "e1ac027a1b892927",
        "name": "Altera o Estado do Servo",
        "func": "msg.counter = msg.counter + 1;\nmsg.payload = 180;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 700,
        "wires": [
            [
                "5104dcb4d7810a76"
            ]
        ]
    },
    {
        "id": "6dc2347ca9c13119",
        "type": "delay",
        "z": "e1ac027a1b892927",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 700,
        "wires": [
            [
                "775008996888eb8a"
            ]
        ]
    },
    {
        "id": "5436a9e1c924081d",
        "type": "ui_button",
        "z": "e1ac027a1b892927",
        "name": "",
        "group": "e654c2be62fc9630",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Alimentar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 540,
        "wires": [
            [
                "029dba1cb0f92779"
            ]
        ]
    },
    {
        "id": "8b221915f6e30a83",
        "type": "debug",
        "z": "e1ac027a1b892927",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "counter",
        "targetType": "msg",
        "statusVal": "counter",
        "statusType": "auto",
        "x": 1030,
        "y": 540,
        "wires": []
    },
    {
        "id": "029dba1cb0f92779",
        "type": "change",
        "z": "e1ac027a1b892927",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "counter",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 540,
        "wires": [
            [
                "5104dcb4d7810a76"
            ]
        ]
    },
    {
        "id": "5c777454bd6d57a7",
        "type": "ui_text",
        "z": "e1ac027a1b892927",
        "group": "e654c2be62fc9630",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Precisa Reabastecer?",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1160,
        "y": 120,
        "wires": []
    },
    {
        "id": "54dcb44a255dba0c",
        "type": "change",
        "z": "e1ac027a1b892927",
        "name": "N찾o",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "N찾o",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 80,
        "wires": [
            [
                "5c777454bd6d57a7"
            ]
        ]
    },
    {
        "id": "d93d1eaaf5051c57",
        "type": "change",
        "z": "e1ac027a1b892927",
        "name": "Sim",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Sim",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 120,
        "wires": [
            [
                "5c777454bd6d57a7",
                "cddbfb2cce8b3a0e"
            ]
        ]
    },
    {
        "id": "df55bc74fee8fccd",
        "type": "mqtt out",
        "z": "e1ac027a1b892927",
        "name": "MQTT Reabastecer",
        "topic": "/lfmpaes/petfeeder/refill",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "844a0f3dcde1a982",
        "x": 1280,
        "y": 240,
        "wires": []
    },
    {
        "id": "cddbfb2cce8b3a0e",
        "type": "change",
        "z": "e1ac027a1b892927",
        "name": "Aviso de reabastecimento",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "O pote precisa ser reabastecido!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 240,
        "wires": [
            [
                "df55bc74fee8fccd"
            ]
        ]
    },
    {
        "id": "a4ba65d81198518e",
        "type": "mqtt in",
        "z": "e1ac027a1b892927",
        "name": "MQTT Alimentar",
        "topic": "/lfmpaes/petfeeder/alimentar",
        "qos": "2",
        "datatype": "auto",
        "broker": "844a0f3dcde1a982",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 480,
        "wires": [
            [
                "5436a9e1c924081d"
            ]
        ]
    }
]